<div class="well nested-fields">
    <%= f.input :value %>
    <%= f.input :label %>
    <%= f.input :color %>
    <%= link_to_remove_association "Remove datum", f, class: "btn btn-danger btn-small" %>
</div>
