<tr class="nested-fields data-fields">
  <td>
    <%= f.input :value, label: false %>
  </td>
  <td>
    <%= f.input :label, label: false %>
  </td>
  <td>
    <%= f.input :color, label: false, input_html: { class: :minicolors } %>
  </td>
  <td>
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger" %>
  </td>
</tr>
