<div class="well nested-fields">
    <%= f.input :value %>
    <%= f.input :label %>
    <%= f.input :color,
                as: :minicolors,
                input_html: {
                  data: {
                    minicolors: {
                      theme:    :bootstrap,
                      position: :right
                    }
                  }
                } %>
    <%= link_to_remove_association "Remove datum", f, class: "btn btn-danger btn-small" %>
</div>
