<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="fa fa-list"></span>
    Back
  <%% end %>
  <h1>New <%= human_name %></h1>
</div>

<%%= render 'form' %>
