<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="fa fa-list"></span>
    Back
  <% end %>
  <%= link_to @post, class: 'btn btn-primary' do %>
    <span class="fa fa-info-circle"></span>
    Show
  <% end %>
  <h1>Editing Post</h1>
</div>

<%= render 'form' %>
